# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
terraform.tfvars
terraform.tfvars.json

# Ansible
*.retry

# Python / venv
__pycache__/
*.pyc
ansible_venv/

# Credentials / keys (ne jamais pousser)
tf-admin.json
*.pem
*.key
*.p12

# OS / editors
.DS_Store
Thumbs.db
.vscode/

