# Ignore Python virtual environment
ansible_venv/

# Ignore Terraform sensitive/state files
*.tfstate
*.tfstate.backup
terraform.tfvars

# Ignore service account keys
tf-admin.json

# Ignore Python cache
__pycache__/
