- name: Common setup (Java + tools)
  hosts: spark
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Java and tools
      apt:
        name:
          - openjdk-11-jre-headless
          - curl
          - tar
        state: present
